@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;600;800&display=swap');

:root {
  --clr-background: #e6f3ef;
  --spacing: 80%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* ==========
    general
   ========== */

body {
  font-family: 'Mukta', sans-serif;
  color: #014b45;
}

main {
  width: 100vw;
  max-width: 100%;
}

.title {
  font-size: 35px;
  font-weight: 800;
  letter-spacing: 1.1px;
}

/* ==========
    nav bar
   ========== */

.nav-bar-container {
  width: 100vw;
  height: 60px;
  position: fixed;
  display: flex;
  justify-content: end;
  align-items: center;
  z-index: 2;
  transition: all 300ms ease;
}

.nav-bar-container.white-background {
  background-color: white;
  box-shadow: 0 0 5px 0 lightgrey;
}

.nav-bar {
  width: var(--spacing);
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
}

.nav-bar > li {
  letter-spacing: 1.2px;
  margin-left: 50px;
  position: relative;
  cursor: pointer;
}

.nav-bar > li::after {
  content: '';
  background-color: black;
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: -5px;
  left: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 300ms ease;
}

.nav-bar > li:hover::after {
  transform: scaleX(1);
}

/* ==========
    intro
   ========== */

#intro-section {
  width: 100%;
  height: 100vh;
  background-color: var(--clr-background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro-content {
  width: var(--spacing);
  max-width: 700px;
  font-weight: 600;
  line-height: 1.2;
  color: #01675e;
}

.sm-font {
  font-size: 20px;
}

.md-font {
  font-size: 24px;
}

.lg-font {
  font-size: 35px;
}

.name {
  display: block;
  padding: 15px 0 20px;
}

.highlight {
  color: #57a18d;
}

.intro-links {
  width: var(--spacing);
  max-width: 700px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 50px;
}

.resume-btn {
  font-size: 18px;
  border-radius: 20px;
  padding: 10px 20px;
  margin-right: 50px;
  background-color: #014b45;
  color: var(--clr-background);
  cursor: pointer;
  transition: all 150ms ease;
}

.resume-btn:hover,
.fa-linkedin:hover,
.fa-github-square:hover {
  opacity: 0.8;
}

.fa-linkedin {
  margin-right: 10px;
}

.fa-linkedin,
.fa-github-square {
  font-size: 30px;
  cursor: pointer;
  transition: all 150ms ease;
}

/* ==========
    about
   ========== */

#about-me-section {
  width: 100%;
  /* height: 100vh; */
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

#about-me-section > svg {
  position: absolute;
  top: -25px;
  z-index: -1;
}

.about-me.title {
  margin-bottom: 50px;
}

.about-me-content {
  width: var(--spacing);
  margin: 0 auto;
  font-size: 20px;
  line-height: 1.2;
}

.about-me-content > p:not(:last-of-type) {
  margin-bottom: 25px;
}

.my-skills-list {
  margin-top: 100px;
  display: flex;
}

.my-skills-list > li {
  text-align: center;
}

.my-skills-list > li > div {
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
  box-shadow: 0 5px 5px -2px lightgrey;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-skills-list > li:not(:last-of-type) {
  margin-right: 50px;
}

/* ==========
    projects
   ========== */

#projects-section {
  width: 100%;
  min-height: 100vh;
  padding: 100px 0;
  background-color: var(--clr-background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

#projects-section > svg {
  position: absolute;
  top: -90px;
}

.projects.title {
  margin-bottom: 70px;
}

.projects-content-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.project-container {
  width: 90%;
  max-width: 830px;
  min-height: 300px;
  padding: 25px;
  background-color: #a8c5bc;
  border-radius: 5px;
  display: flex;
  position: relative;
}

.project-title {
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 1.1px;
}

.project-container:not(:last-of-type) {
  margin-bottom: 30px;
}

.project-container > img {
  width: 350px;
  height: 260px;
  flex-shrink: 0;
  object-fit: cover;
  object-position: top;
  border-radius: 5px;
  transition: all 500ms ease;
}

.project-content {
  margin-left: 25px;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-technologies {
  margin: 10px 0 30px;
  display: flex;
}

.project-technologies > li:not(:last-of-type) {
  margin-right: 15px;
}

.project-desc {
  flex: 1;
}

.project-desc > li {
  list-style-type: disc;
  margin-left: 20px;
  font-size: 17px;
  line-height: 1.2;
}

.project-desc > li:not(:last-of-type) {
  margin-bottom: 5px;
}

.project-resources {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.launch-btn {
  padding: 5px 10px;
  border-radius: 3px;
  margin-right: 20px;
  border: 1px solid rgb(34, 135, 128);
  cursor: pointer;
  transition: all 150ms ease;
}

.launch-btn:hover {
  background-color: #014b45;
  color: white;
  border-color: #014b45;
}

.project-resources > a > i {
  font-size: 25px;
  cursor: pointer;
  transition: all 150ms ease;
}

.project-resources > a > i:hover {
  opacity: 0.8;
}

/* ==========
    contact
   ========== */

#contact-me-section {
  width: 100%;
  /* height: 100vh; */
  padding: 50px 0 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.contact-me.title {
  margin-bottom: 30px;
}

.contact-form {
  width: 80%;
  max-width: 400px;
}

.form-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

label {
  letter-spacing: 1.1px;
  margin-bottom: 5px;
}

input,
textarea {
  font-size: 17px;
  font-family: 'Mukta', sans-serif;
  background-color: rgb(236, 236, 236);
  border: 0;
  border-radius: 3px;
  padding: 5px 10px;
  outline: none;
}

input::placeholder,
textarea::placeholder {
  opacity: 0.4;
}

.send-btn {
  font-size: 17px;
  width: 100%;
  font-weight: 600;
  background-color: #a8c5bc;
  padding: 15px 0;
  text-align: center;
  letter-spacing: 1.2px;
  cursor: pointer;
  transition: all 300ms ease;
}

.send-btn:hover {
  background-color: #014b45;
  color: white;
  border-radius: 3px;
}

.contact-form-message {
  min-height: 70px;
  background-color: white;
  box-shadow: 0 5px 10px 0 grey;
  padding: 20px;
  border-radius: 5px;
  position: absolute;
  top: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 600;
  display: none;
}

.contact-form-message.show {
  display: flex;
}

.message-title {
  font-weight: 900;
  margin-bottom: 15px;
  font-size: 18px;
  padding-bottom: 10px;
  border-bottom: 1px solid lightgrey;
}

.error-message {
  line-height: 1.3;
  font-weight: 300;
}

.error-message > span {
  font-weight: 600;
}

footer {
  text-align: center;
}

/* ===============
    media queries
   =============== */

@media all and (max-width: 910px) {
  .project-container > img {
    width: 300px;
  }

  .project-container:nth-of-type(2) > img {
    height: 300px;
  }
}

@media all and (max-width: 710px) {
  .project-container > img {
    width: 250px;
  }
}

@media all and (max-width: 650px) {
  .project-container {
    display: flex;
    flex-direction: column;
    padding: 40px;
  }

  .project-container > img {
    width: 100%;
    height: 300px;
  }

  .project-content {
    margin-left: 0;
    margin-top: 20px;
    padding-bottom: 0;
  }
}

@media all and (max-width: 550px) {
  .project-container {
    padding: 30px;
  }
  .project-container:nth-of-type(2) > img {
    height: 250px;
  }

  .project-container > img {
    height: 250px;
  }
}

@media all and (max-width: 480px) {
  .nav-bar > li {
    font-size: 15px;
    margin-left: 20px;
  }

  .sm-font {
    font-size: 18px;
  }

  .md-font {
    font-size: 22px;
  }

  .lg-font {
    font-size: 30px;
  }

  .title {
    font-size: 30px;
  }

  .about-me-content > p {
    font-size: 18px;
  }

  .my-skills-list > li:not(:last-of-type) {
    margin-right: 30px;
  }

  .project-container {
    padding: 30px;
  }

  .project-container:nth-of-type(2) > img {
    height: 200px;
  }

  .project-container > img {
    height: 200px;
  }
}
